.pic1 {
	width: 380px;
	height: 250px;
	float: left;
	border: 2px solid white;
}
.pic2 {
	width: 380px;
	height: 250px;
	border: 2px solid white;
}
.image-container {
	width: 80%;
	margin: 0 auto;
}
.text-container {
	width: 80%;
	margin: 0 auto;
}
nav li {
	display: inline;
}
nav li a {
	text-decoration: none;
	color: #3D9FFF;
}
a:active {
	color: purple;
}
th, td {
	border: 2px solid black;
}
table tr:hover {
	background-color: gray;
}
.description {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	color: white;
	width: 85%;
	margin: 0px auto 15px auto;
}
.episode img {
	height: 100px;
	float: left;
	border-right: 1px solid black;
}
.episode h5 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	text-decoration: none;
	color: white;
	margin: 0 0 0 140px;
	height: 100px;
	font-size: 15px;
}
.episode h4 {
	text-decoration: none;
	color: white;
	margin: 0 0 0 3px;
	height: 100px;
}
.episode {
	background-color: #8B8B8B;
	margin: 7px;
	border: 1px solid black;
	height: 100px;
}
.episode b {
	font-size: 150%;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, sans-serif;
	display: block;
	margin-top: 8px;
}
.episode p {
	line-height: 18px;
}
.episode-container {
	width: 70%;
	margin: 0 auto;
}
.map-container iframe {
	display: block;
	margin: 0 auto;
}
.description-title {
	color: white;
	width: 85%;
	margin: 0px auto 15px auto;
}
.video-container {
	margin: 10px auto;
	text-align: center;
}